#dropdown-item-button{
    background-color: white;
    color: black;
    font-size: small;
    
    
}

.content {
    padding: 40px 20px;
  }
  
  .top-bar {
    height: 2px;
   
    margin: 20px 0;
  }
 
  
  .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .menu-items {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container_fixed{
    height: 100vh;
    background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/ce07bdd7-7f40-468d-a555-662d5e45abf5.jpg?source=next-article&fit=scale-down&quality=highest&width=700&dpr=1');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
}
.container_text{
   
    overflow-y: auto;

}

.container_text h1{
    margin-top: 15%;
    font-size: xx-large;
    
}
  
  
  